<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List - Adding Task</title>

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'todo-list.ico'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">

    <!-- Icon Lib -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <form action="addtaskform-{{ username }}" method="POST">
        {% csrf_token %}
        <div class="card" style="padding: 40px;">

            <!-- Nav bar -->
            <div class="nav-bar" >
                <div style="display: flex; justify-content:space-between; width: 100%;">
                    <div>
                        <h2>ToDo List</h2>
                    </div>
                    <div>
                        <a href="back-btn" style="text-decoration: none;"><h4 style="color: red;"><i class="fa-solid fa-angle-left" style="color: red;"></i> Back</h4></a>
                    </div>
                </div>
                <br>
                <div>
                    <h3>
                        Adding Task</span>
                    </h3>
                </div>
            </div>

            <br>

            <hr>

            <br>

            <!-- Content -->
            <div>
                <h4>Title</h4>
                <br>
                <input type="text" placeholder="Enter task title" style="width: 100%;" required name="title">
                <br><br>

                <h4>Description</h4>
                <br>
                <textarea placeholder="Enter description for the tasks" required name="description"></textarea>

                <br><br>
                <h4>Status</h4>
                <br>
                <div style="justify-content: left;">
                    <input type="radio" name="status" value="True">Completed
                    <input type="radio" name="status" value="False" checked>Not Completed
                </div>
                <br><br>


                <center><input type="submit" value="Add Task"></center>
            </div>
        </div>
    </form>

    <br>
</body>
</html>