<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List - Forgot Password</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <form action="forgot-password-verify" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="nav-bar">
                <h3>Email Verifying</h3>
            </div>
            <br><br>
            <div>
                <p>
                    Email
                </p>
                <br>
                <input type="email" placeholder="Enter your Email" value="{{ email }}" required name="email">
                <br><br>
                <p class="hint">Make sure the entering email <br> are associated with your account.</p>
                <br>
                <input type="submit" value="Verify">
                <br><br>
                <p class="error">{{ error }}</p>
            </div>
        </div>
    </form>
</body>
</html>