<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List - Update Password</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>
<body>
    <form action="forgot-password-form" method="POST">
        {% csrf_token %}

        <div class="card">
            <div class="nav-bar">
                <h3>Updating Password</h3>
            </div>
            <br>

            <div style="display: flex; gap: 30px;">
                <!-- Left part -->
                <div style="flex: 1;">
                    <p>
                        Email
                    </p>
                    <br>
                    <input type="email" placeholder="Enter your Email" value="{{ email }}" name="email" readonly>
                    <br><br>

                    <p>
                        Code
                    </p>
                    <br>
                    <input type="number" placeholder="Enter Verification Code" name="code" required>
                    <br><br>
                </div>

                <!-- Right part -->
                <div style="flex: 1;">
                    <p>
                        New Password
                    </p>
                    <br>
                    <input type="password" placeholder="Enter your New Password" name="new password" required>

                    <br><br>

                    <p>
                        Confirm Password
                    </p>
                    <br>
                    <input type="password" placeholder="Enter your Confirm Password" name="confirm password" required>

                    <br><br>
                </div>
            </div>

            <small>Enter code that recived on mail & new password to update</small>


            <br><br>
            <center><input type="submit" value="Update Password"></center>
            <br>
            <p class="error">{{ error }}</p>
        </div>
    </form>
</body>
</html>